Repository giglancer/android-github-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, Domain, Data, Test, Config

add
  app/src/main/java/com/example/androidsampleactions/ui/screen/HomeScreen.kt
Labels: UI

Release v1.0.2 (build 2)
  app/build.gradle.kts
Labels: Config

fix
  .github/workflows/release.yml
Labels: none

fix
  .github/workflows/release.yml
Labels: none

Release v1.0.3 (build 3)
  app/build.gradle.kts
Labels: Config

fix
  app/build.gradle.kts
Labels: Config

add env
  .github/workflows/release.yml
Labels: none

fix
  app/build.gradle.kts
Labels: Config

fix signed
  .github/workflows/release.yml
  app/build.gradle.kts
Labels: Config

fix use actions
  .github/workflows/release.yml
Labels: none

fix
  .github/workflows/release.yml
Labels: none

fix
  .github/workflows/release.yml
Labels: none

fix apk aab flow
  .github/workflows/release.yml
Labels: none

Release v1.0.4 (build 22)
  app/build.gradle.kts
  app/release.jks
  gradlew
Labels: Config

fix
  .github/workflows/release.yml
Labels: none

Release v1.0.5 (build 23)
  app/build.gradle.kts
  gradlew
Labels: Config

fix ホーム画面にTextを追加
  app/src/main/java/com/example/androidsampleactions/ui/screen/HomeScreen.kt
Labels: UI

Release v1.0.6 (build 24)
  app/build.gradle.kts
Labels: Config

fix
  .github/workflows/release.yml
Labels: none

Release v1.0.7 (build 25)
  app/build.gradle.kts
Labels: Config

remoeve
  .github/workflows/release.yml
Labels: none

Release v1.0.8 (build 26)
  app/build.gradle.kts
Labels: Config

remove artifact
  .github/workflows/release.yml
Labels: none

Release v1.0.8 (build 27)
  app/build.gradle.kts
Labels: Config

remove
  .github/workflows/release.yml
Labels: none

fix
  .github/workflows/release.yml
Labels: none

fix
  .github/workflows/release.yml
Labels: none

Release v1.0.8 (build 28)
  app/build.gradle.kts
Labels: Config

.github/labeler.yml:

UI:
  - changed-files:
      - any-glob-to-any-file: ['**/ui/**']

Domain:
  - changed-files:
      - any-glob-to-any-file: ['**/domain/**']

Data:
  - changed-files:
      - any-glob-to-any-file: ['**/data/**']

Test:
  - changed-files:
      - any-glob-to-any-file: ['**/test/**', '**/androidTest/**']

Config:
  - changed-files:
      - any-glob-to-any-file: ['**/*.gradle', '**/*.gradle.kts', '**/*.toml', '**/gradle.properties', '**/AndroidManifest.xml']
